{% extends "admintemplates/adminbase.html" %}

{% block content %}

{% block section %}
<!-- {# 1. BUTTON TO TRIGGER THE ACTION #} -->
<button type="button" class="btn btn-primary js-upload-photos">
    <span class="glyphicon glyphicon-cloud-upload"></span> Upload photos
</button>

<!-- {# 2. FILE INPUT TO BE USED BY THE PLUG-IN #} -->
<input id="fileupload" type="file" name="file" multiple style="display: none;"
    data-url="{% url 'newsapp:adminalbumcreate' %}" data-form-data='{"csrfmiddlewaretoken": "{{ csrf_token }}"}'>

<!-- {# 3. TABLE TO DISPLAY THE UPLOADED PHOTOS #} -->
<table id="gallery" class="table table-bordered">
  <h2>Photos</h2>

    <tbody>
        {% for photo in photos %}
        <tr>
            <td>
            	<a href="{{ photo.file.url }}">
            		<img src="{{photo.file.url}}" class="img-thumbnail" alt="{{photo.file.name}}" width="200" height="200"> {{ photo.file.name }}
            	</a>
            </td>
            
            <td>
              <button class="btn btn-danger" data-toggle="modal" data-target="#exampleModal" style="margin: 50px;" >Delete</button>
            </td>

        </tr>

        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Confirm</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="{% url 'newsapp:adminalbumdelete' photo.id %}" method="post"> 
                          {% csrf_token %}
                          <p>Are your sure to delete </p>
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                          <input class="btn btn-danger" type="submit" value="Confirm">
                        </form>
                    </div>

                </div>
            </div>
        </div>

        {% endfor %}
    </tbody>
</table>
{% endblock section %}

{% endblock %}