{% load static %}

{% block content %}

<!-- Single Widget Area -->
<div class="single-widget-area about-me-widget text-center">
    <div class="widget-title">
        <h6>About Me</h6>
    </div>
    <div class="about-me-widget-thumb">
        <img src="{% static 'clientstatic/img/about-img/2.jpg' %}" alt="">
    </div>
    <h4 class="font-shadow-into-light">Ramesh Pradhan</h4>
    <p>Hello beautiful soul!!</p>
</div>




<!-- Single Widget Area -->
<div class="single-widget-area subscribe_widget text-center">
    <div class="widget-title">
        <h6>Subscribe &amp; Follow</h6>
    </div>
    <div class="subscribe-link">
        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-google" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-vimeo" aria-hidden="true"></i></a>
    </div>
</div>

{% endblock %}