<!-- Single Widget Area -->
<div class="single-widget-area newsletter-widget">
    <div class="widget-title text-center">
        <h6>Newsletter</h6>
    </div>
    <p>Subscribe our newsletter gor get notification about new updates, information discount, etc.</p>
    <div class="newsletter-form">
        <form action="#" method="post">
            <input type="email" name="newsletter-email" id="email" placeholder="Your email">
            <button type="submit"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
        </form>
    </div>
</div>