{% load static %}


<!-- Single Post -->
{% for ls in latests %}
<div class="col-12 col-md-6">
    <div class="single-post wow fadeInUp" data-wow-delay=".4s">
        <!-- Post Thumb -->
        
        <div class="post-thumb">
            <img src="{{ ls.image.url }}" alt="">
        </div>
        <!-- Post Content -->
        <div class="post-content">
            <div class="post-meta d-flex">
                <div class="post-author-date-area d-flex">
                    <!-- Post Author -->
                    <div class="post-author">
                        <a href="#">{{ ls.author }}</a>
                    </div>
                    <!-- Post Topic -->
                    <div class="post-date">
                        <a href="{% url 'newsapp:clientnewstopic' ls.topic.pk %}">{{ ls.topic }}</a>
                    </div>
                </div>
                <!-- Post Comment & Share Area -->
                <div class="post-comment-share-area d-flex">
                    <!-- Post Favourite -->
                    <div class="post-favourite">
                        <a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i> 10</a>
                    </div>
                    <!-- Post Comments -->
                    <div class="post-comments">
                        <a href="#"><i class="fa fa-comment-o" aria-hidden="true"></i> 12</a>
                    </div>
                    <!-- Post Share -->
                    <div class="post-share">
                        <a href="#"><i class="fa fa-share-alt" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            <a href="{% url 'newsapp:clientnewsdetail' ls.id %}">
                <h4 class="post-headline">{{ ls.title | truncatechars:50 }}</h4>
            </a>
        </div>          
    </div>
    
</div>
{% endfor %}