{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>{% block title %} {% endblock %}</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Favicon -->
    <link rel="icon" href="{% static 'clientstatic/img/core-img/favicon.ico' %}">

    <!-- Core Stylesheet -->
    <link href="{% static 'clientstatic/style.css' %}" rel="stylesheet">

    <!-- Responsive CSS -->
    <link href="{% static 'clientstatic/css/responsive/responsive.css' %}" rel="stylesheet">

</head>

<body>
    <!-- Preloader Start -->
    <div id="preloader">
        <div class="yummy-load"></div>
    </div>

    <!-- Background Pattern Swither -->
    <div id="pattern-switcher">
        Bg Pattern
    </div>
    <div id="patter-close">
        <i class="fa fa-times" aria-hidden="true"></i>
    </div>

    {% include 'clienttemplates/clienttopheader.html' %}

    {% include 'clienttemplates/clientheader.html' %}





    {% block content %}

    {% endblock %}




    {% include 'clienttemplates/clientsocial.html' %}



    <!-- Jquery-2.2.4 js -->
    <script src="{% static 'clientstatic/js/jquery/jquery-2.2.4.min.js' %}"></script>
    <!-- Popper js -->
    <script src="{% static 'clientstatic/js/bootstrap/popper.min.js' %}"></script>
    <!-- Bootstrap-4 js -->
    <script src="{% static 'clientstatic/js/bootstrap/bootstrap.min.js' %}"></script>
    <!-- All Plugins JS -->
    <script src="{% static 'clientstatic/js/others/plugins.js' %}"></script>
    <!-- Active JS -->
    <script src="{% static 'clientstatic/js/active.js' %}"></script>


</body>
