{% extends 'clienttemplates/clientbase.html' %}
{% load static %}

{% block content %}



<!-- Single Post -->
<section class="single_blog_area section_padding_80">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-12 col-lg-11">
				<div class="row no-gutters">
					<div class="col-12">
						<div class="single-post wow fadeInUp" data-wow-delay=".2s">
							<!-- Post Thumb -->
							<!-- Post Thumb -->
						<!-- 	{% for post in posts|slice:":1" %}
							<a href="#">
								<h1 class="post-headline" style="color:red;">{{ post.topic.category.name }}</h1>
								<hr>
							</a>
							{% endfor %} -->

							<a href="#">
								<h1 class="post-headline" style="color:red;">{{ cat }}</h1>
								<hr>
							</a>

							{% for post in object_list %}
							<!-- Post Content -->
							<div class="post-content">
								<div class="post-meta d-flex">
									<div class="post-author-date-area d-flex">
										<!-- Post Author -->
										<div class="post-author">
											<a href="#">@{{post.author}}</a>
										</div>
										<div class="post-author">
											<a href="{% url 'newsapp:clientnewstopic' post.topic.pk %}">{{ post.topic }} => {{post.topic.category.name}}</a>
										</div>
										<!-- Post Date -->
										<div class="post-date">
											<a href="#">{{ post.created_at }}</a>
										</div>
									</div>
									<!-- Post Comment & Share Area -->
									<div class="post-comment-share-area d-flex">
										<!-- Post Favourite -->
										<div class="post-favourite">
											<a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i> 10</a>
										</div>
										<!-- Post Comments -->
										<div class="post-comments">
											<a href="#"><i class="fa fa-comment-o" aria-hidden="true"></i> 12</a>
										</div>
										<!-- Post Share -->
										<div class="post-share">
											<a href="#"><i class="fa fa-share-alt" aria-hidden="true"></i></a>
										</div>
									</div>
								</div>
								<a href="{% url 'newsapp:clientnewsdetail' post.pk %}">
									<h2 class="post-headline">{{ post.title }}</h2>
								</a>
								<p>{{ post.content | striptags | safe | truncatechars:300 }} </p>
								<a href="{% url 'newsapp:clientnewsdetail' post.pk %}" class="read-more">Continue Reading..</a>
								<hr>
								<hr>
							</div>
							{% endfor %}

							<!-- Pagination -->
							<div class="pagination" style="margin-left:  350px;">
							    <span class="step-links">
							        {% if page_obj.has_previous %}
							            <a href="?page=1"> first</a>
							            <a href="?page={{ page_obj.previous_page_number }}"><button class="btn btn-info">&laquo; </button> </a>
							        {% endif %}

							        <span class="current">
							            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
							        </span>

							        {% if page_obj.has_next %}
							            <a href="?page={{ page_obj.next_page_number }}"><button class="btn btn-info"> &raquo; </button></a>
							            <a href="?page={{ page_obj.paginator.num_pages }}">last </a>
							        {% endif %}
							    </span>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>




{% endblock %}