<!-- ****** Header Area Start ****** -->
<header class="header_area">
    <div class="container">
        <div class="row">
            <!-- Logo Area Start -->
            <div class="col-12">
                <div class="logo_area text-center">
                    <a href="{% url 'newsapp:clienthome' %}" class="yummy-logo">Yummy Blog</a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <nav class="navbar navbar-expand-lg">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#yummyfood-nav" aria-controls="yummyfood-nav" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars" aria-hidden="true"></i> Menu</button>
                    <!-- Menu Area Start -->
                    <div class="collapse navbar-collapse justify-content-center" id="yummyfood-nav">
                        <ul class="navbar-nav" id="yummy-nav">
                            <li class="nav-item active">
                                <a class="nav-link" href="{% url 'newsapp:clienthome' %}">Home <span class="sr-only">(current)</span></a>
                            </li>
                            
                            <li class="nav-item">
                                <a class="nav-link" href="#">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="contact.html">Contact</a>
                            </li>

                            {% for c in categories %}
                                <li class="nav-item">       
                                    <a class="nav-link dropdown-toggle" href="#" id="{{ c.name }}" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{c.name}}</a>
                                    <div class="dropdown-menu" aria-labelledby="{{c.name}}">
                                        {% for t in c.topics.all %}
                                            {% if t.subject %}
                                                <a class="dropdown-item" href="{% url 'newsapp:clientnewstopic' t.pk %}">{{ t.subject }}</a>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                        
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ****** Header Area End ****** -->