{% extends 'clienttemplates/clientbase.html' %}
{% load static %}
{% block content %}
  <!-- ****** Categories Area Start ****** -->
  <section class="categories_area clearfix" id="about">
    <div class="container">
      <div class="row">
        {% for category in categories %}
          <div class="col-12 col-md-6 col-lg-4">
            <div class="single_catagory wow fadeInUp" data-wow-delay=".3s">
              <img src="{% static 'clientstatic/img/catagory-img/1.jpg' %}" alt="">
              <div class="catagory-title">
                <a href="{% url 'newsapp:clientnewscategory' category.id %}">
                  <h5>{{ category.name }}</h5>
                </a>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>
  <!-- ****** Categories Area End ****** -->
  {% include 'clienttemplates/widgets/blogs.html' %}
{% endblock %}
