    {% include 'clienttemplates/clienttopheader.html' %}

    {% include 'clienttemplates/clientheader.html' %}

    {% include 'clienttemplates/clientslider.html'%}

    {% include 'clienttemplates/clientcategories.html' %}

    {% include 'clienttemplates/clientblog.html' %}

    {% include 'clienttemplates/clientsocial.html' %}

    {% include 'clienttemplates/clientfooter.html' %}














{% include 'clienttemplates/widgets/singlepostdemo.html' %}

{% include 'clienttemplates/widgets/popularpost.html' %}

{% include 'clienttemplates/widgets/foursinglepost.html' %}

{% include 'clienttemplates/widgets/individualfour.html' %}
