<!-- Related Post Area -->
<div class="related-post-area section_padding_50">
	<h4 class="mb-30">Related post</h4>

	<div class="related-post-slider owl-carousel owl-loaded owl-drag">
		<!-- Single Related Post-->

		<!-- Single Related Post-->

		<!-- Single Related Post-->

		<!-- Single Related Post-->

		<div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-932px, 0px, 0px); transition: all 0.8s ease 0s; width: 2330px;"><div class="owl-item cloned" style="width: 203px; margin-right: 30px;"><div class="single-post">
			<!-- Post Thumb -->
			<div class="post-thumb">
				<img src="img/blog-img/5.jpg" alt="">
			</div>
			<!-- Post Content -->
			<div class="post-content">
				<div class="post-meta d-flex">
					<div class="post-author-date-area d-flex">
						<!-- Post Author -->
						<div class="post-author">
							<a href="#">By Marian</a>
						</div>
						<!-- Post Date -->
						<div class="post-date">
							<a href="#">May 19, 2017</a>
						</div>
					</div>
				</div>
				<a href="#">
					<h6>The Top Breakfast And Brunch Spots In Hove</h6>
				</a>
			</div>
		</div></div><div class="owl-item cloned" style="width: 203px; margin-right: 30px;"><div class="single-post">
			<!-- Post Thumb -->
			<div class="post-thumb">
				<img src="img/blog-img/16.jpg" alt="">
			</div>
			<!-- Post Content -->
			<div class="post-content">
				<div class="post-meta d-flex">
					<div class="post-author-date-area d-flex">
						<!-- Post Author -->
						<div class="post-author">
							<a href="#">By Marian</a>
						</div>
						<!-- Post Date -->
						<div class="post-date">
							<a href="#">May 19, 2017</a>
						</div>
					</div>
				</div>
				<a href="#">
					<h6>The Top Breakfast And Brunch Spots In Hove</h6>
				</a>
			</div>
		</div></div><div class="owl-item cloned" style="width: 203px; margin-right: 30px;"><div class="single-post">
			<!-- Post Thumb -->
			<div class="post-thumb">
				<img src="img/blog-img/5.jpg" alt="">
			</div>
			<!-- Post Content -->
			<div class="post-content">
				<div class="post-meta d-flex">
					<div class="post-author-date-area d-flex">
						<!-- Post Author -->
						<div class="post-author">
							<a href="#">By Marian</a>
						</div>
						<!-- Post Date -->
						<div class="post-date">
							<a href="#">May 19, 2017</a>
						</div>
					</div>
				</div>
				<a href="#">
					<h6>The Top Breakfast And Brunch Spots In Hove</h6>
				</a>
			</div>
		</div></div><div class="owl-item" style="width: 203px; margin-right: 30px;"><div class="single-post">
			<!-- Post Thumb -->
			<div class="post-thumb">
				<img src="img/blog-img/15.jpg" alt="">
			</div>
			<!-- Post Content -->
			<div class="post-content">
				<div class="post-meta d-flex">
					<div class="post-author-date-area d-flex">
						<!-- Post Author -->
						<div class="post-author">
							<a href="#">By Marian</a>
						</div>
						<!-- Post Date -->
						<div class="post-date">
							<a href="#">May 19, 2017</a>
						</div>
					</div>
				</div>
				<a href="#">
					<h6>The Top Breakfast And Brunch Spots In Hove</h6>
				</a>
			</div>
		</div></div><div class="owl-item active" style="width: 203px; margin-right: 30px;"><div class="single-post">
			<!-- Post Thumb -->
			<div class="post-thumb">
				<img src="img/blog-img/5.jpg" alt="">
			</div>
			<!-- Post Content -->
			<div class="post-content">
				<div class="post-meta d-flex">
					<div class="post-author-date-area d-flex">
						<!-- Post Author -->
						<div class="post-author">
							<a href="#">By Marian</a>
						</div>
						<!-- Post Date -->
						<div class="post-date">
							<a href="#">May 19, 2017</a>
						</div>
					</div>
				</div>
				<a href="#">
					<h6>The Top Breakfast And Brunch Spots In Hove</h6>
				</a>
			</div>
		</div></div><div class="owl-item active" style="width: 203px; margin-right: 30px;"><div class="single-post">
			<!-- Post Thumb -->
			<div class="post-thumb">
				<img src="img/blog-img/16.jpg" alt="">
			</div>
			<!-- Post Content -->
			<div class="post-content">
				<div class="post-meta d-flex">
					<div class="post-author-date-area d-flex">
						<!-- Post Author -->
						<div class="post-author">
							<a href="#">By Marian</a>
						</div>
						<!-- Post Date -->
						<div class="post-date">
							<a href="#">May 19, 2017</a>
						</div>
					</div>
				</div>
				<a href="#">
					<h6>The Top Breakfast And Brunch Spots In Hove</h6>
				</a>
			</div>
		</div></div><div class="owl-item active" style="width: 203px; margin-right: 30px;"><div class="single-post">
			<!-- Post Thumb -->
			<div class="post-thumb">
				<img src="img/blog-img/5.jpg" alt="">
			</div>
			<!-- Post Content -->
			<div class="post-content">
				<div class="post-meta d-flex">
					<div class="post-author-date-area d-flex">
						<!-- Post Author -->
						<div class="post-author">
							<a href="#">By Marian</a>
						</div>
						<!-- Post Date -->
						<div class="post-date">
							<a href="#">May 19, 2017</a>
						</div>
					</div>
				</div>
				<a href="#">
					<h6>The Top Breakfast And Brunch Spots In Hove</h6>
				</a>
			</div>
		</div></div><div class="owl-item cloned" style="width: 203px; margin-right: 30px;"><div class="single-post">
			<!-- Post Thumb -->
			<div class="post-thumb">
				<img src="img/blog-img/15.jpg" alt="">
			</div>
			<!-- Post Content -->
			<div class="post-content">
				<div class="post-meta d-flex">
					<div class="post-author-date-area d-flex">
						<!-- Post Author -->
						<div class="post-author">
							<a href="#">By Marian</a>
						</div>
						<!-- Post Date -->
						<div class="post-date">
							<a href="#">May 19, 2017</a>
						</div>
					</div>
				</div>
				<a href="#">
					<h6>The Top Breakfast And Brunch Spots In Hove</h6>
				</a>
			</div>
		</div></div><div class="owl-item cloned" style="width: 203px; margin-right: 30px;"><div class="single-post">
			<!-- Post Thumb -->
			<div class="post-thumb">
				<img src="img/blog-img/5.jpg" alt="">
			</div>
			<!-- Post Content -->
			<div class="post-content">
				<div class="post-meta d-flex">
					<div class="post-author-date-area d-flex">
						<!-- Post Author -->
						<div class="post-author">
							<a href="#">By Marian</a>
						</div>
						<!-- Post Date -->
						<div class="post-date">
							<a href="#">May 19, 2017</a>
						</div>
					</div>
				</div>
				<a href="#">
					<h6>The Top Breakfast And Brunch Spots In Hove</h6>
				</a>
			</div>
		</div></div><div class="owl-item cloned" style="width: 203px; margin-right: 30px;"><div class="single-post">
			<!-- Post Thumb -->
			<div class="post-thumb">
				<img src="img/blog-img/16.jpg" alt="">
			</div>
			<!-- Post Content -->
			<div class="post-content">
				<div class="post-meta d-flex">
					<div class="post-author-date-area d-flex">
						<!-- Post Author -->
						<div class="post-author">
							<a href="#">By Marian</a>
						</div>
						<!-- Post Date -->
						<div class="post-date">
							<a href="#">May 19, 2017</a>
						</div>
					</div>
				</div>
				<a href="#">
					<h6>The Top Breakfast And Brunch Spots In Hove</h6>
				</a>
			</div>
		</div></div></div></div><div class="owl-nav"><div class="owl-prev"><i class="fa fa-angle-left" aria-hidden="true"></i></div><div class="owl-next"><i class="fa fa-angle-right" aria-hidden="true"></i></div></div><div class="owl-dots"><div class="owl-dot active"><span></span></div><div class="owl-dot"><span></span></div></div></div>
	</div>

	<!-- Comment Area Start -->
	<div class="comment_area section_padding_50 clearfix">
		<h4 class="mb-30">2 Comments</h4>

		<ol>
			<!-- Single Comment Area -->
			<li class="single_comment_area">
				<div class="comment-wrapper d-flex">
					<!-- Comment Meta -->
					<div class="comment-author">
						<img src="img/blog-img/17.jpg" alt="">
					</div>
					<!-- Comment Content -->
					<div class="comment-content">
						<span class="comment-date text-muted">27 Aug 2018</span>
						<h5>Brandon Kelley</h5>
						<p>Neque porro qui squam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora.</p>
						<a href="#">Like</a>
						<a class="active" href="#">Reply</a>
					</div>
				</div>
				<ol class="children">
					<li class="single_comment_area">
						<div class="comment-wrapper d-flex">
							<!-- Comment Meta -->
							<div class="comment-author">
								<img src="img/blog-img/18.jpg" alt="">
							</div>
							<!-- Comment Content -->
							<div class="comment-content">
								<span class="comment-date text-muted">27 Aug 2018</span>
								<h5>Brandon Kelley</h5>
								<p>Neque porro qui squam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora.</p>
								<a href="#">Like</a>
								<a class="active" href="#">Reply</a>
							</div>
						</div>
					</li>
				</ol>
			</li>
			<li class="single_comment_area">
				<div class="comment-wrapper d-flex">
					<!-- Comment Meta -->
					<div class="comment-author">
						<img src="img/blog-img/19.jpg" alt="">
					</div>
					<!-- Comment Content -->
					<div class="comment-content">
						<span class="comment-date text-muted">27 Aug 2018</span>
						<h5>Brandon Kelley</h5>
						<p>Neque porro qui squam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora.</p>
						<a href="#">Like</a>
						<a class="active" href="#">Reply</a>
					</div>
				</div>
			</li>
		</ol>
	</div>

	<!-- Leave A Comment -->
	<div class="leave-comment-area section_padding_50 clearfix">
		<div class="comment-form">
			<h4 class="mb-30">Leave A Comment</h4>

			<!-- Comment Form -->
			<form action="#" method="post">
				<div class="form-group">
					<input type="text" class="form-control" id="contact-name" placeholder="Name">
				</div>
				<div class="form-group">
					<input type="email" class="form-control" id="contact-email" placeholder="Email">
				</div>
				<div class="form-group">
					<input type="text" class="form-control" id="contact-website" placeholder="Website">
				</div>
				<div class="form-group">
					<textarea class="form-control" name="message" id="message" cols="30" rows="10" placeholder="Message"></textarea>
				</div>
				<button type="submit" class="btn contact-btn">Post Comment</button>
			</form>
		</div>
	</div>

</div>